*,
:root {
  font-family: Inter, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.bio-wrapper {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/Cover for Bio.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: 25% 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bg-image {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  min-width: 100vw;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  display: none;
}

.item-wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
}

.open-share {
  background-color: white;
  padding: 0.8rem 0.9rem;
  align-self: flex-start;
  border-radius: 50%;
  margin-top: 2rem;
  cursor: pointer;
  transition: scale 0.2s ease-in-out;
}

.open-share:hover {
  scale: 1.1;
}

.open-share i {
  font-size: 1.3rem;
}

.brand-information {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.4rem;
}

.brand-information .brand-avatar {
  width: 15%;
  border-radius: 50%;
}

.brand-information .brand-avatar img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.brand-information .brand-name {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1rem 0;
}

.brand-information .brand-content {
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 2rem;
}

.brand-link_wrapper {
  width: 100%;
}

.brand-link_wrapper ul {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.brand-link_item li {
  width: 100%;
  position: relative;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: scale 0.2s ease-in-out, opacity 0.5s ease, max-height 0.5s ease;
}

.brand-link_item li.visible {
  opacity: 1;
  max-height: 200px; /* đủ lớn cho nội dung li */
}

.brand-link_item li:hover {
  scale: 1.02;
}

.brand-link_item li a {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 0;
  margin-bottom: 1rem;
  border-radius: 5rem;
  text-decoration: none;
}

.brand-link_item li a img {
  width: 6%;
  border-radius: 50%;
  position: absolute;
  left: 1%;
}

.brand-link_item li a span {
  font-size: 1rem;
  color: black;
  font-weight: 400;
}

.brand-link_item li:last-child a {
  margin-bottom: 0;
}

.brand-link_icons ul {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0;
  margin-top: 1rem;
}

.brand-link_icons ul li {
  margin: 1rem 1.4rem;
  font-size: 1.8rem;
  transition: scale 0.3s ease-in-out;
}

.brand-link_icons ul li a {
  color: rgb(45, 45, 45);
  font-weight: 400;
}

.brand-link_icons ul li:hover {
  scale: 1.15;
}

#toggleButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}

.fa-solid.fa-angles-down {
  color: black;
  font-size: 1.2rem;
  margin-left: .25rem;
  animation-name: down;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes down {
  from {color: black; opacity: 1;}
  to {color: #007bff; opacity: .5;}
}

.overlay-open-share {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-open-share .modal {
  width: 28%;
  padding: 2rem 1rem;
  border-radius: 1rem;
  background-color: white;
}

.overlay-open-share .modal .content-top {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0 0 1.5rem 0;
  position: relative;
}

.overlay-open-share .modal .content-top p {
  margin: 0;
}

.overlay-open-share .modal .content-top #close-modal-btn {
  position: absolute;
  top: -30%;
  right: 1%;
  color: #000000;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.6rem;
  border-radius: 5px;
}

.overlay-open-share .modal .content-top #close-modal-btn:hover {
  background-color: rgb(228, 228, 228);
}

.overlay-open-share .modal .content-top::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d0d0d0;
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.flip-card {
  width: 42%;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(-180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: white;
  font-size: 16px;
}

.flip-card-front {
  border: 1.2px solid rgb(218, 218, 218);
}

.flip-card-front canvas {
  width: 100%;
  height: 100%;
}

.flip-card-back {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d0/QR_code_for_mobile_English_Wikipedia.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  transform: rotateY(-180deg);
}

.flip-card-back button {
  padding: 0.5rem 0.8rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  color: white;
  cursor: pointer;
  background-color: #007bff;
  font-size: 1rem;
  transition: scale 0.3s ease-in-out;
}

.flip-card-back button:hover {
  scale: 1.1;
}

.modal-body .modal-link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.modal-body .modal-link-wrapper a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0.8rem 0;
  border-radius: 0.6rem;
  margin-bottom: 0.5rem;
  color: #000000;
  font-weight: 500;
  font-size: 0.9rem;
}

.modal-body .modal-link-wrapper a:hover {
  background-color: rgb(242, 242, 242);
}

.modal-body .modal-link-wrapper a div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.modal-body .modal-link-wrapper a svg {
  border: rgb(200, 200, 200) solid 1px;
  padding: 0.6rem 0.4rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.modal-body .modal-link-wrapper a:last-child svg {
  padding: 0.6rem 0.5rem;
}

.copy-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}

.copy-input {
  flex: 1;
  padding: 0.95rem 0.95rem 0.95rem 3.6rem;
  border: 1px solid #0095f6;
  outline: none;
  font-size: 16px;
  cursor: default;
  position: relative;
}

.copy-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 1rem 3rem;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.copy-button:hover {
  background-color: #0056b3;
}

.icon-link-copy {
  position: absolute;
  /* left: 10px; */
  left: 4%;
  color: #888;
  font-size: 16px;
  z-index: 99;
}
